.container {
  height: 100vh; //discounts the header`s 5rem, this way the conntent remains centralized
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../../../public/images/parallax-1.jpg);
  background-size: cover;
  // margin-top: -8rem;
}

.hero {
  padding-top: 16rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  height: 80vh;

  color: var(--white);

  h1 {
    font-size: 3.75rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    letter-spacing: 0.3rem;
  }

  p {
    font-size: 1.15rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: 0.3rem;
    text-align: center;
    line-height: 1.5;
    max-width: 62.5rem;
  }
}

.servicesContainer {
  // max-height: 80vh;

  .cardContainer1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    max-height: 80vh;

    padding: 8rem 15rem;
    background: var(--grey-50);
    gap: 5rem;

    .titleDecorated {
      text-transform: uppercase;
      font-size: 1.5625rem; //25px
      height: 75px;
      line-height: 1.72;

      &::before {
        content: '';
        position: relative;
        display: block;
        height: 3px;
        width: 70px;
        margin-bottom: 25px;
        background: var(--red-100);
      }
    }

    .servicesTitle {
      text-transform: uppercase;
      line-height: 1.5;
      letter-spacing: 0.05rem;
      font-size: 1.25rem; //20px
      margin-top: 2rem;
    }

    .servicesDescription {
      margin-top: 1rem;
      line-height: 1.5;
      color: var(--grey-450);
      letter-spacing: 0.05rem;
      font-weight: 300;
      font-size: 1.125rem;
    }

    span {
      font-weight: bold;
      color: var(--red-100);
    }
  }

  .cardContainer2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    max-height: 80vh;

    padding: 8rem 15rem;
    gap: 5rem;

    .titleDecorated {
      text-transform: uppercase;
      font-size: 1.5625rem; //25px
      height: 75px;
      line-height: 1.72;

      &::before {
        content: '';
        position: relative;
        display: block;
        height: 3px;
        width: 70px;
        margin-bottom: 25px;
        background: var(--red-100);
      }
    }

    .servicesTitle {
      text-transform: uppercase;
      line-height: 1.5;
      letter-spacing: 0.05rem;
      font-size: 1.25rem; //20px
      margin-top: 2rem;
    }

    .servicesDescription {
      margin-top: 1rem;
      line-height: 1.5;
      color: var(--grey-450);
      letter-spacing: 0.05rem;
      font-weight: 300;
      font-size: 1.125rem;
    }

    span {
      font-weight: bold;
      color: var(--red-100);
    }
  }
}

.servicesImages {
  border-radius: 0.5rem;
}
