.headerBackground {
  height: 8rem;
  background: var(--grey-750);
  margin-top: -8rem;
}

.mapLocation {
  height: 80vh;
  background: var(--grey-100);
}

.container {
  height: 90vh;
  padding: 5.625rem 0;

  .contentContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;

    h4 {
      text-transform: uppercase;
      // margin-top: 2rem;
      font-size: 1.5625rem;
      line-height: 1.72;
      letter-spacing: 0.06em;

      color: var(--grey-750);

      &::before {
        content: '';
        position: relative;
        display: block;
        height: 3px;
        width: 70px;
        margin-bottom: 25px;
        background: var(--red-100);
      }
    }

    .adress {
      width: 25vw;

      p {
        margin-top: 2rem;
        color: var(--grey-450);
        line-height: 1.5;
        font-size: 1.125rem;
        font-weight: 300;
      }

      span {
        text-transform: uppercase;
        color: var(--black);
        letter-spacing: 0.06em;
        font-weight: 500;
      }
    }

    .form {
      width: 45vw;
    }
  }
}
