.container {
  height: 100vh; //discounts the header`s 5rem, this way the conntent remains centralized
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../../../public/images/parallax-2.jpg);
  margin-top: -8rem;
}

.hero {
  padding-top: 16rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  height: 80vh;

  color: var(--white);

  h1 {
    font-size: 3.75rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    letter-spacing: 0.3rem;
  }

  p {
    font-size: 1.15rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: 0.5rem;
  }
}

.aboutContainer {
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 3rem auto 6rem auto;
}
